
a{text-decoration: none;}
li{list-style-type:none;}
.clr{clear:both;width: 0px;height: 0px;}
.container{margin: 0px auto;width: 1080px;}

.header{height:120px;margin: 0px auto;}
.navigation{margin:10px auto;background:#000000;height: 40px;line-height: 40px;margin-top: 5px;}
#nav{padding: 0px;margin: 0px;}
#nav li{float:left;height: 40px;list-style-type:none;}
#nav a{text-align:center;color:#F3FFFF;width:120px;text-decoration:none;line-height: 40px;display: block;}
#nav a:hover{background:red;}

.main{height:535px;margin: 0px auto;background: #F2F2F2;font-family:sans-serif; }

.bea_title{font-family:'Microsoft YaHei'; font-size: 20px;border-bottom: 1px solid #F79047;color: #F79047;display: block;padding-bottom: 5px;}
.bea_title:before {content: "|";padding-right: 8px;}
.tltle{text-align:center;font-size: 19px;line-height: 30px;font-weight: bold;padding:10px 0px 10px 20px;color: #272822;}


.lside{width: 740px;float: left;line-height: 24px;}
.four{width: 349px; height: 370px; float: left;padding:3px;margin:5px;overflow: auto;background:#FFFFFF;border: 1px solid red;}
.four ul{list-style-type:none;padding: 0;margin: 0;}
.four img{padding-right: 10px;}
.four li{padding-left: 10px;}
.four div{padding: 10px;}
.cla_notice{font-size: 20px;text-align: center;margin: 0 auto;font-weight: bold;}
.rside{width: 340px;float: right;}
.two{width: 325px;height: 500px;padding: 3px; float:left;overflow: auto;background:#FFFFFF;margin-top:5px;border: 1px solid red;}
.two a{font-size: 18px;line-height: 35px;padding-left: 10px;}
.two a:hover{color:;text-decoration: underline;}
.two a:visited{color:#3E3E3E }
.remind{border: 1px solid #909A99;padding: 10px;}


.footer{height:114px;width: 718px;background:#FFFFFF;margin: 5px; padding: 2px;border: 1px solid red;}
.footer textarea{width:500px;height:65px;}
.footer a{font-family:'Microsoft YaHei';text-align:center;color: black;text-decoration:none;line-height: 30px;display: block;}
.footer a:hover{background:#F8F8F8;}

